<%= simple_form_for(@post) do |f| %>
    <div class="form-input">
        <%= f.input :content, required true, maxlength: 140 %>
        <p>This post will be scheduled in <b><%= Time.zone.name %></b></p>
        <%= f.input :scheduled_at, required: true %>
    </div>
<% end %>