// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert{
	position: absolute;
	z-index: 1;
	width: 200px; 
}

.logo{
	max-width: 150px;
}